h1{
    text-align: center;
    margin-left: auto;
}

body{
    background-color: #F1F1F1;

}
#draw{
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#tip{
    position: absolute;
    border: 1px solid #e4e5ff;
    background-color: #E0FFFF;
    border-radius: 3px;
}
